@import "../../../styles/settings.scss";

.root {
  .colXSmall {
    @media (max-width: 600px) {
     max-width: 60%;
     flex: 0 0 60%;
    }
  }

  .colXXSmall {
    @media (max-width: 400px) {
     max-width: 100%;
     flex: 0 0 100%;
    }
  }

  .dots {
    display: flex;
    align-self: center;
    transform: translateY(15px);
    background-color: $panelbar-bg;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 5px;
      align-items: center;
      margin: 0;
      padding: 2px 0 2px 1rem;
      list-style: none;
      background-color: $panelbar-bg;

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: $panelbar-link-bg;
          font-size: 0;
          cursor: pointer;

          &.active,
          &:hover {
            background-color: $panelbar-primary;
          }
        }
      }
    }
  }
}

.compare {
  position: sticky;
  bottom: 0;
  padding: 10px;
}

.fadeOut {
  opacity: 0;
  animation: fadeOut 0.2s ease-in-out;
}

.fadeIn {
  opacity: 1;
  animation: fadeIn 0.2s ease-in-out;
}

$timeAnimation: $time-animation;
