@import "../../../styles/settings.scss";

.root {
  background-color: $productbox-bg;
  border: 1px solid $productbox-border;
  margin-bottom: 2rem;

  .favorite {
    background-color: $productbox-primary;
  }
  .compare {
    background-color: $productbox-primary;
  }

  .photo {
    position: relative;
    background: {
      color: $productbox-photo-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productbox-sale-bg;
      border-radius: 50%;
      color: $productbox-text-primary;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      opacity: 0;
      transition: $background-color-time-animation;
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $productbox-primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $productbox-stars-clr;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productbox-line;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $productbox-primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      display: flex;
    }
  }

  &:hover .buttons{
    opacity: 1;
    transition: $background-color-time-animation;
    display: flex;
    justify-content: space-between;
  }

  .priceBtn{
    background-color: $price-color-background;
    text-decoration: none;
  }

  &:hover .priceBtn{
    background-color: $productbox-primary;;
  }
}
