@import "../../../styles/settings.scss";

.panelBar {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  gap: 10px 0;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 4px solid $panelbar-border;

  @media (max-width: 768px) {
    justify-content: center;
    border-top: 4px solid $panelbar-border;
    border-bottom: none;
  }

  .heading {
    position: relative;

    h3 {
      color: $panelbar-primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $panelbar-primary;
    }

    @media (max-width: 768px) {
      &::before {
        border-bottom: none;
      }
    }
  }
}
